OPENROUTESERVICE_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImY3YWZmZWYyMTcwMzQ2NGViYWY5ZGRmMzZjZjQ4OTJlIiwiaCI6Im11cm11cjY0In0=
 
RESTAURANTE_CEP=27520071
RESTAURANTE_NUMERO=1437
RESTAURANTE_LAT=-22.469000
RESTAURANTE_LNG=-44.457750
 
TAXAS_API_URL=https://protein-prep.lovable.app/api/public/taxas-bairros